extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href='/' + user + '/') Blockchain Keeper
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='/' + user + '/team') My Team 
                li.nav-item
                    a.nav-link(href='/' + user + '/matchup') Matchup
                li.nav-item
                    a.nav-link(href='/' + user + '/players') Players
                li.nav-item
                    a.nav-link(href='/' + user + '/league') League
                li.nav-item.active
                    a.nav-link(href='/' + user + '/trades') Trade Requests
                    span.sr-only (current)

    .col-md-12
        h1.bold Pending Sent Trade Requests
    .col-md-12
        table.table.table-dark
            thead
                tr
                    th To
                    th Your Player(s)
                    th Their Player(s)
            tbody
                each trade in sentTrades
                    tr
                        td=trade.to
                        td=trade.sendPlayers
                        td=trade.getPlayers

    .col-md-12
        h1.bold Received Trade Requests
    .col-md-12
        table.table.table-dark
            thead
                tr
                    th From
                    th Your Player(s)
                    th Their Player(s)
                    th(colspan='2')
            tbody
                each trade in recievedTrades
                    tr
                        td=trade.from
                        td=trade.sendPlayers
                        td=trade.getPlayers
                        td
                            button.btn.btn-outline-success(type='button') Accept
                        td
                            button.btn.btn-outline-danger(type='button') Decline